name: Build Armbian Image

on:
  push:
    paths:
      - '.github/workflows/build.yml'
      - 'build.env'
#  schedule:
#    - cron: '02 15 */3 * 2'
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

env:
  COMPARE_FILE0: /tmp/.armbian-env-content-0.txt
  COMPARE_FILE1: /tmp/.armbian-env-content-1.txt

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - type: standard
            minimal: "no"
            desktop: "no"
            release: "noble bookworm trixie"
          - type: minimal
            minimal: "yes"
            desktop: "no"
            release: "noble bookworm trixie"
          - type: desktop
            minimal: "no"
            desktop: "yes"
            release: "noble trixie"
    
    steps:
      - uses: mathio/gha-cleanup@v1
        if: ${{ matrix.type == 'standard' }}
        with:
          remove-browsers: true
          verbose: true
          
      - name: Checkout
        uses: actions/checkout@v6

      - name: env
        id: env
        run: |
          set -a
          source $GITHUB_WORKSPACE/build.env

          export KEY="${{ github.job }}"
          echo "key=$KEY" >> $GITHUB_OUTPUT
          echo "################################################################" && bash -c "echo KEY=$KEY"

          export BOARD="$BOARD"
          echo "board=$BOARD" >> $GITHUB_OUTPUT
          echo "################################################################" && bash -c "echo BOARD=$BOARD"
          
          export BUILD_VER="$BUILD_VER"
          echo "build_ver=$BUILD_VER" >> $GITHUB_OUTPUT
          echo "################################################################" && bash -c "echo BUILD_VER=$BUILD_VER"

          export TIMESTAMP="$(date -u +%Y%m%d_%H%M%S)"
          echo "timestamp=$TIMESTAMP" >> $GITHUB_OUTPUT
          echo "################################################################" && bash -c "echo TIMESTAMP=$TIMESTAMP"

          echo "keymatrix=$KEY-$BOARD-${{ matrix.type }}" >> $GITHUB_OUTPUT
          
          set +a

      - name: Setup QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
      
      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Clone Armbian Build
        uses: actions/checkout@v6
        with:
          repository: armbian/build
          ref: ${{ steps.env.outputs.build_ver }}
          path: ${{ github.workspace }}/armbian-build
          persist-credentials: false

      - name: cache_load
        uses: actions/cache/restore@v5
        with:
          path: |
            ${{ env.COMPARE_FILE0 }}
          key: ${{ steps.env.outputs.keymatrix }}-${{ steps.env.outputs.timestamp }}
          restore-keys: |
            ${{ steps.env.outputs.keymatrix }}-

      - name: compare
        shell: bash
        id: compare
        run: |
          cp $GITHUB_WORKSPACE/build.env ${{ env.COMPARE_FILE1 }}

          if [ ! -e "${{ env.COMPARE_FILE0 }}" ]; then
            echo "copy File for cache"
            cp ${{ env.COMPARE_FILE1 }} ${{ env.COMPARE_FILE0 }}
          else
            CONTENT_FILE0=$(cat ${{ env.COMPARE_FILE0 }})
            CONTENT_FILE1=$(cat ${{ env.COMPARE_FILE1 }})
            if [ "$CONTENT_FILE0" = "$CONTENT_FILE1" ]; then
              echo "Still at latest version"
              echo "latest_version=true" >> $GITHUB_OUTPUT
            else
              echo "Not at latest version"
              cp ${{ env.COMPARE_FILE1 }} ${{ env.COMPARE_FILE0 }}
            fi
          fi

      - name: Build ${{ matrix.type }} Image
        if: steps.compare.outputs.latest_version != 'true'
        run: |
          cd armbian-build
          for release in ${{ matrix.release }}; do
            bash ./compile.sh \
              PREFER_DOCKER=yes \
              BUILD_ONLY=armbian-bsp \
              COMPRESS_OUTPUTIMAGE=xz,sha,txt \
              SHOW_DEBIAN=yes \
              BUILD_MINIMAL=${{ matrix.minimal }} \
              BUILD_DESKTOP=${{ matrix.desktop }} \
              BRANCH=current \
              RELEASE=${release} \
              EXPERT=yes \
              USE_MAINLINE_GOOGLE_MIRROR=no \
              USE_GITHUB_UBOOT_MIRROR=yes \
              USE_TORRENT=yes \
              KERNEL_CONFIGURE=no \
              $([[ "${{ matrix.desktop }}" = "yes" ]] && echo "DESKTOP_ENVIRONMENT=xfce DESKTOP_ENVIRONMENT_CONFIG_NAME=config_base DESKTOP_APPGROUPS_SELECTED=") \
              BOARD=${{ steps.env.outputs.board }}
          done

      - name: Delete existing tag
        if: steps.compare.outputs.latest_version != 'true'
        uses: dev-drprasad/delete-tag-and-release@v1.1
        continue-on-error: true
        with:
          tag_name: "${{ matrix.type }}"
          github_token: ${{ github.token }}
          delete_release: true
          repo: ${{ github.repository }}

      - name: Create Release
        if: steps.compare.outputs.latest_version != 'true'
        uses: softprops/action-gh-release@v2
        with:
          token: "${{ github.token }}"
          tag_name: "${{ matrix.type }}"
          generate_release_notes: false
          prerelease: false
          draft: false
          name: "Armbian ${{ matrix.type }} image for ${{ steps.env.outputs.board }}"
          body: |
            ### Armbian Version
            ${{ steps.env.outputs.build_ver }}
          files: |
            ./armbian-build/output/images/*

      - name: cache_save
        if: steps.compare.outputs.latest_version != 'true'
        uses: actions/cache/save@v5
        with:
          path: |
            ${{ env.COMPARE_FILE0 }}
          key: ${{ steps.env.outputs.keymatrix }}-${{ steps.env.outputs.timestamp }}
